* {
  margin: 0;
}

/* .App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0;
} */

/* .Home {
  display: grid;
  grid-template-columns: 20% 80%;
} */

/* .header {
  margin: 0;
  padding: 1rem;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: space-between;
} */

a {
  padding: 0.5rem;
}

.active-page-link {
  background-color: #444;
  color: rgb(251, 79, 188);
}

.header ul li {
  list-style-type: none;
}

.header a {
  color: #fff;
}

.Filters {
  border-right: 2px solid #999;
}

.Filters ul {
  display: flex;
  flex-direction: column;
}

.Filters ul input {
  margin: 1rem 0;
}

.product-list {
  /* display: flex;
  flex-wrap: wrap; */
}

.product-card {
  margin: 2rem;
  border: 1px solid #555;
  padding: 0.75rem;
  max-width: 150px;
}

.product-card img {
  /* height: 100px;
  width: 100px; */
}

.product-card label,
input {
  max-width: 100%;
}

.product-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

/* .cart-item {
  display: flex;
  flex-direction: column;
  max-width: 275px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cart-active {
  background-color: #00ec04;
}

.cart-active a {
  color: #444;
}

.App-link {
  color: #61dafb;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.out-of-stock {
  color: #555;
  background-color: rgba(255, 18, 18, 0.8);
}

/* Checkout */

/* .checkout-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.checkout-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* .checkout-item {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
/* } */ 

.checkout-card {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin: 0rem;
  border: none;
  border-bottom: 1px solid #999;
}

.ship-options {
  display: flex;
  flex-direction: column;
}

.payment-form {
  margin-bottom: 10rem;
}

.edit-window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.note-edit {
  z-index: 4;
}

.edit {
  width: 500px;
  border: var(--border-gray);
  border-radius: var(--border-rad);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 79, 188);
  padding: 0.5rem;
  max-height: 1rem;
}

.user-info {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #999;
  text-align: left;
  background-color: rgb(243, 243, 243);
}
