@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Fjalla One', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Oswald', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  padding: 0.5rem;
  color: rgb(240,240,240);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: #fff;
} 

h2, h3, h4, h5 {
  color: #333;
}

ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.active-page-link {
  background-color: #444;
  color: rgb(251, 79, 188);
}

.rating span svg {
  font-size: 1rem;
  fill: #ffe400;
  cursor: pointer;
}

.rating span svg:hover {
  fill: #ffe400;
}

.cart-active {
  /* border-bottom: 2px solid #000; */
}

.cart-active a {
  color: #444;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.out-of-stock {
  color: #555;
  background-color: rgba(255, 18, 18, 0.8);
}

/* .App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0;
} */

/* .Home {
  display: grid;
  grid-template-columns: 20% 80%;
} */

/* .header {
  margin: 0;
  padding: 1rem;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: space-between;
} */
.Filters {
  /* border-right: 2px solid #999; */
}

.Filters ul {
  /* display: flex;
  flex-direction: column; */
}

.Filters ul input {
  /* margin: 1rem 0; */
}

.product-list {
  /* display: flex;
  flex-wrap: wrap; */
}
/* 
.product-card {
  margin: 2rem;
  border: 1px solid #555;
  padding: 0.75rem;
  max-width: 150px;
} */

.product-card img {
  /* height: 100px;
  width: 100px; */
}

/* .product-card label,
input {
  max-width: 100%;
} */

.product-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

/* .cart-item {
  display: flex;
  flex-direction: column;
  max-width: 275px;
} */

/* Checkout */

/* .checkout-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

/* .checkout-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
} */

/* .checkout-item {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
/* } */ 

/* .checkout-card {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin: 0rem;
  border: none;
  border-bottom: 1px solid #999;
} */

/* .ship-options {
  display: flex;
  flex-direction: column;
} */

.payment-form {
  /* margin-bottom: 10rem; */
}

/* .page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 79, 188);
  padding: 0.5rem;
  max-height: 1rem;
} */

/* .user-info {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #999;
  text-align: left;
  background-color: rgb(243, 243, 243);
} */
