@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Fjalla One', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto Slab', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Oswald', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  padding: 0.5rem;
  color: rgb(240,240,240);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: #fff;
} 

h2, h3, h4, h5 {
  color: #333;
}

ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input {
  background: #f5f5f5;
}

.active-page-link {
  background-color: #444;
  color: rgb(251, 79, 188);
}

.rating span svg {
  font-size: 1rem;
  fill: #ffe400;
  cursor: pointer;
}

.rating span svg:hover {
  fill: #ffe400;
}

.error {
  /* position: absolute; */
  /* top: 10px; */
  color: red;
  font-size: 0.6rem;
  margin-top: -10px;
}

.is-invalid {
  outline: 2px solid rgba(255, 0, 0, 0.5);
}

.is-invalid:focus {
  outline: 2px solid rgba(255, 0, 0, 0.5);
}
